---
layout: default
menu: home
css: ['index.css', 'home-feed.css', 'sidebar-popular-repo.css']
---
<section class='jumbotron'>
  <div class='container'>
    <h1>{{ site.title }}</h1>
    <div id='jumbotron-meta-info'>
      <span class='meta-info'>
        <svg class='octicon' width='16' height='16' aria-hidden='true'>
          <use href="{{ '/assets/vendor/octicons.svg' | relative_url }}#icon-location"></use>
        </svg>
        {{ site.location }}
      </span>
      <span class='meta-info hvr-grow'>
        <svg class='octicon' width='16' height='16' aria-hidden='true'>
          <use href="{{ '/assets/vendor/octicons.svg' | relative_url }}#icon-organization"></use>
        </svg>
        <a href='{{ site.company_url }}' target='_blank' rel='noopener noreferrer'>
          {{- site.company -}}
        </a>
      </span>
      <span class='meta-info hvr-grow'>
        <svg class='octicon' width='16' height='16' aria-hidden='true'>
          <use href="{{ '/assets/vendor/octicons.svg' | relative_url }}#icon-mark-github"></use>
        </svg>
        <a href='{{ site.github_url }}' target='_blank' rel='noopener noreferrer'
          >@{{ site.name -}}
        </a>
      </span>
    </div>
  </div>
</section>
{% capture project_sidebar %}{% include sidebar-popular-repo.html %}{% endcapture %}
{% assign project_sidebar = project_sidebar | strip %}
<section class='content container home-feed' aria-labelledby='recent-posts-title'>
  <div class='row'>
    <div class='home-posts {% if project_sidebar != '' %}col-lg-8{% else %}col-12 home-posts-solo{% endif %}'>
      <div class='post-feed-header'>
        <h2 id='recent-posts-title'>
          {% if paginator.page > 1 %}文章归档{% else %}最近发布{% endif %}
        </h2>
        <a class='post-feed-all' href='{{ '/blog' | relative_url }}'>
          全部文章
          <svg class='octicon' width='18' height='18' aria-hidden='true'>
            <use href="{{ '/assets/vendor/octicons.svg' | relative_url }}#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
      <ol class='post-list' role='list'>
        {% for post in paginator.posts %}
          <li class='post-list-item'>
            <p class='post-list-meta'>
              <time datetime='{{ post.date | date: '%Y-%m-%d' }}'>
                {{- post.date | date: '%Y/%m/%d' -}}
              </time>
            </p>
            <h3 class='post-list-title'>
              <a class='hvr-underline-from-center' href='{{ post.url | relative_url }}'>
                {% assign post_category = post.categories | first %}
                {% if post_category %}
                  <span class='post-list-category'>
                    <span class='badge post-category-badge'>{{ post_category }}</span>
                  </span>
                {% endif %}
                <span class='post-list-title-text'>{{ post.title }}</span>
              </a>
            </h3>
            <p class='post-list-description'>
              {{ post.excerpt | strip_html | strip }}
            </p>
          </li>
        {% endfor %}
      </ol>

      <!-- 分页 -->
      {% include pagination.html %}

      <!-- 评论 -->
      {% include disqus-comments.html %}
    </div>

    {% if project_sidebar != '' %}
      <aside class='col-lg-4 home-projects' aria-label='项目'>{{ project_sidebar }}</aside>
    {% endif %}
  </div>
</section>
