<footer class='container'>
  <div class='site-footer'>
    <div class='copyright float-start'>
      <!-- 请不要更改这一行 方便其他人知道模板的来源 谢谢 -->
      <!-- Please keep this line to let others know where this theme comes from. Thank you :D -->
      模板来自 <a href='https://github.com/zyraxi21/Yummy-Modern'>Yummy Modern</a>。
    </div>

    <div class='license-note'>
      文章内容采用
      <a
        href='https://creativecommons.org/licenses/by-sa/4.0/legalcode.zh-hans'
        target='_blank'
        rel='license'
        >CC BY-SA 4.0</a
      >
      协议授权
      <img
        src='https://mirrors.creativecommons.org/presskit/icons/cc.svg'
        alt=''
        style='max-width: 1em; max-height: 1em; margin-left: .2em;'
      >
      <img
        src='https://mirrors.creativecommons.org/presskit/icons/by.svg'
        alt=''
        style='max-width: 1em; max-height: 1em; margin-left: .2em;'
      >
      <img
        src='https://mirrors.creativecommons.org/presskit/icons/sa.svg'
        alt=''
        style='max-width: 1em; max-height: 1em; margin-left: .2em;'
      >
    </div>
    <div class='float-end'>
      <a href='#top' data-back-to-top>回到顶部</a>
    </div>
  </div>

  {% for javascript in page.javascript %}
    <script defer src='{{ '/assets/js/' | append: javascript | relative_url }}'></script>
  {% endfor %}
</footer>
