{% assign page_title = page.title | default: site.title %}
{% assign page_description = page.excerpt
  | default: site.description
  | strip_html
  | normalize_whitespace
%}
{% assign page_url = page.url | replace: 'index.html', '' | absolute_url %}
{% assign social_image = page.image | default: site.social_image %}
{% assign favicon_path = '/assets/images/' | append: site.favicon %}
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='color-scheme' content='light dark'>
  <meta name='theme-color' content='#f7793c' media='(prefers-color-scheme: light)'>
  <meta name='theme-color' content='#83401e' media='(prefers-color-scheme: dark)'>
  <link rel='icon' href='{{ favicon_path | relative_url }}'>
  <title>{{ page_title | escape }}</title>
  <meta name='description' content='{{ page_description | truncate: 160 | escape }}'>
  <meta
    property='og:type'
    content='{% if page.layout == 'post' %}article{% else %}website{% endif %}'
  >
  <meta property='og:title' content='{{ page_title | escape }}'>
  <meta property='og:description' content='{{ page_description | truncate: 200 | escape }}'>
  <meta property='og:url' content='{{ page_url | escape }}'>
  <meta property='og:site_name' content='{{ site.title | escape }}'>
  <meta property='og:locale' content='zh_CN'>
  <meta
    name='twitter:card'
    content='{% if social_image %}summary_large_image{% else %}summary{% endif %}'
  >
  <meta name='twitter:title' content='{{ page_title | escape }}'>
  <meta name='twitter:description' content='{{ page_description | truncate: 200 | escape }}'>
  {% if social_image %}
    <meta property='og:image' content='{{ social_image | absolute_url | escape }}'>
    <meta name='twitter:image' content='{{ social_image | absolute_url | escape }}'>
  {% endif %}
  {% if site.twitter_username %}
    <meta name='twitter:site' content='@{{ site.twitter_username | escape }}'>
  {% endif %}
  <link rel='canonical' href='{{ page_url | escape }}'>
  <link
    rel='alternate'
    type='application/rss+xml'
    title='{{ site.title | escape }}'
    href='{{ '/feed.xml' | absolute_url | escape }}'
  >
  <link rel='stylesheet' href='{{ '/assets/vendor/app.css' | relative_url }}'>
  <link rel='stylesheet' href='{{ '/assets/css/syntax.css' | relative_url }}'>
  <link rel='stylesheet' href='{{ '/assets/css/common.css' | relative_url }}'>
  {% for css in page.css %}
    <link rel='stylesheet' href='{{ '/assets/css/' | append: css | relative_url }}'>
  {% endfor %}
  {% for css in layout.css %}
    <link rel='stylesheet' href='{{ '/assets/css/' | append: css | relative_url }}'>
  {% endfor %}
  <script type='module' src='{{ '/assets/vendor/app.js' | relative_url }}'></script>
  <link rel='stylesheet' href='{{ '/assets/css/responsive.css' | relative_url }}'>
</head>
