{% if site.data.projects %}
  {% assign sorted_repos = site.data.projects
    | sort: 'stargazers_count'
    | reverse
    | where: 'fork', false
  %}
{% elsif site.repository and site.github.public_repositories %}
  {% assign sorted_repos = site.github.public_repositories
    | sort: 'stargazers_count'
    | reverse
    | where: 'fork', false
  %}
{% else %}
  {% assign sorted_repos = '' | split: ',' %}
{% endif %}
<div id='container-open-source'>
  <section class='jumbotron geopattern' data-pattern-id='{{ page.title }}'>
    <div class='container'>
      <div id='jumbotron-meta-info'>
        <h1>Open Source Projects</h1>
        <span class='meta-info'>
          I have <span class='repo-count badge'>{{ sorted_repos.size }}</span> projects on Github
        </span>
      </div>
    </div>
  </section>

  <section class='container'>
    <div class='repo-list row'>
      <!-- Check here for github metadata -->
      <!-- https://help.github.com/articles/repository-metadata-on-github-pages/ -->
      {% for repo in sorted_repos %}
        <div class='col-md-4 card text-center'>
          <div class='thumbnail'>
            <div class='card-image geopattern' data-pattern-id='{{ repo.name | escape }}'>
              <div class='card-image-cell'>
                <h3 class='card-title'>
                  <a
                    href='{{ repo.link | default: repo.html_url | escape }}'
                    target='_blank'
                    rel='noopener noreferrer'
                  >
                    {{- repo.name | escape -}}
                  </a>
                </h3>
              </div>
            </div>
            <div class='caption'>
              <div class='card-description'>
                <p class='card-text'>{{ repo.description | escape }}</p>
              </div>
              <div class='card-text'>
                <span
                  data-bs-toggle='tooltip'
                  class='meta-info'
                  title='{{ repo.stargazers_count }} stars'
                >
                  <svg class='octicon' width='16' height='16' aria-hidden='true'>
                    <use href="{{ '/assets/vendor/octicons.svg' | relative_url }}#icon-star"></use>
                  </svg>
                  {{ repo.stargazers_count }}
                </span>
                <span
                  data-bs-toggle='tooltip'
                  class='meta-info'
                  title='{{ repo.forks_count }} forks'
                >
                  <svg class='octicon' width='16' height='16' aria-hidden='true'>
                    <use href="{{ '/assets/vendor/octicons.svg' | relative_url }}#icon-git-branch"></use>
                  </svg>
                  {{ repo.forks_count }}
                </span>
                <span
                  data-bs-toggle='tooltip'
                  class='meta-info'
                  title='Last updated：{{ repo.updated_at }}'
                >
                  <svg class='octicon' width='16' height='16' aria-hidden='true'>
                    <use href="{{ '/assets/vendor/octicons.svg' | relative_url }}#icon-clock"></use>
                  </svg>
                  <time datetime='{{ repo.updated_at }}' title='{{ repo.updated_at }}'>
                    {{- repo.updated_at | date: '%Y-%m-%d' -}}
                  </time>
                </span>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
</div>
