{% if paginator.total_pages > 1 %}
<div class="pagination text-align">
    <div class="btn-group">

        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="/" class="btn btn-outline-secondary">&laquo;</a>
        {% else %}
        <a href="/page{{paginator.previous_page}}" class="btn btn-outline-secondary">&laquo;</a>
        {% endif %}
        {% else %}
        <button disabled="disabled" href="javascript:;" class="btn btn-outline-secondary">&laquo;</button>
        {% endif %}

        {% if paginator.page == 1 %}
        <a href="javascript:;" class="active btn btn-outline-secondary">1</a>
        {% else %}
        <a href="/" class="btn btn-outline-secondary">1</a>
        {% endif %}

        {% for count in (2..paginator.total_pages) %}
        {% if count == paginator.page %}
        <a href="javascript:;" class="active btn btn-outline-secondary">{{count}}</a>
        {% else %}
        <a href="/page{{count}}" class="btn btn-outline-secondary">{{count}}</a>
        {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
        <a href="/page{{paginator.next_page}}" class="btn btn-outline-secondary">&raquo;</a>
        {% else %}
        <button disabled="disabled" href="javascript:;" class="btn btn-outline-secondary">&raquo;</button>
        {% endif %}

    </div>
</div>
{% endif %}
