{% if paginator.total_pages > 1 %}
  <nav class='pagination text-align' aria-label='文章分页'>
    <div class='btn-group'>
      {% if paginator.previous_page %}
        <a
          href='{{ paginator.previous_page_path | relative_url }}'
          class='btn btn-outline-secondary'
          rel='prev'
          aria-label='上一页'
          >&laquo;</a
        >
      {% else %}
        <button type='button' disabled class='btn btn-outline-secondary' aria-label='上一页'>
          &laquo;
        </button>
      {% endif %}
      {% for count in (1..paginator.total_pages) %}
        {% if count == paginator.page %}
          <span class='active btn btn-outline-secondary' aria-current='page'>{{ count }}</span>
        {% else %}
          {% if count == 1 %}
            {% assign pagination_url = '/' %}
          {% else %}
            {% assign pagination_url = site.paginate_path | replace: ':num', count %}
          {% endif %}
          <a
            href='{{ pagination_url | relative_url }}'
            class='btn btn-outline-secondary'
            aria-label='第 {{ count }} 页'
          >
            {{- count -}}
          </a>
        {% endif %}
      {% endfor %}
      {% if paginator.next_page %}
        <a
          href='{{ paginator.next_page_path | relative_url }}'
          class='btn btn-outline-secondary'
          rel='next'
          aria-label='下一页'
          >&raquo;</a
        >
      {% else %}
        <button type='button' disabled class='btn btn-outline-secondary' aria-label='下一页'>
          &raquo;
        </button>
      {% endif %}
    </div>
  </nav>
{% endif %}
