<h3 class='sidebar-title'>博客分类</h3>
<div id='blog-categories'>
  <ul class='list-group'>
    <li class='list-group-item category-filter' data-category=''>
      <a href='{{ '/blog' | relative_url }}' class='category-link'>全部</a>
      <span class='badge'>{{ site.posts.size }}</span>
    </li>
    {% for category in site.categories %}
      {% assign category_name = category | first %}
      <li class='list-group-item category-filter' data-category='{{ category_name | escape }}'>
        <a
          href='{{ '/blog' | relative_url }}?category={{ category_name | url_encode }}'
          class='category-link'
        >
          {{- category_name | escape -}}
        </a>
        <span class='badge'>{{ category[1].size }}</span>
      </li>
    {% endfor %}
  </ul>
</div>
