.sidebar-popular-repo .sidebar-title {
  margin: 0 0 20px;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
  text-align: left;
}

.sidebar-popular-repo .card {
  border: 0;
  background: transparent;
  box-shadow: none;
  margin-bottom: 24px;
}

.sidebar-popular-repo .card:last-child {
  margin-bottom: 0;
}
