---
layout: default
css: ['sidebar-post-nav.css']
---
{% include jumbotron.html %}
<article class='post container' itemscope itemtype='https://schema.org/BlogPosting'>
  <div class='row'>
    {% unless page['no-post-nav'] %}
      <aside class='col-md-4 post-sidebar order-lg-2' aria-label='文章目录'>
        {% include sidebar-post-nav.html %}
      </aside>
    {% endunless %}
    <div class='{% if page['no-post-nav'] %}col-12{% else %}col-md-8{% endif %} markdown-body post-content order-lg-1'>
      {{ content }}
      {% include disqus-comments.html %}
    </div>
  </div>
</article>
